@import "tailwindcss";
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, #root {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #111b21;
}
::-webkit-scrollbar-thumb {
  background: #374045;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #4a5568;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(30%) sepia(60%) saturate(400%) hue-rotate(230deg);
  cursor: pointer;
}